pandas
scipy
scikit-learn
# mip_helper==0.2.5
git+https://github.com/LREN-CHUV/python-base-docker-images.git#egg=mip_helper&subdirectory=python-mip/mip_helper
# NOTE: do not install it from pypi or server and rather copy it directly to docker image (would be replaced once
# stable)
# sklearn_to_pfa==0.0.1
# git+https://github.com/Marigold/python-base-docker-images.git@sklearn_to_pfa#egg=sklearn_to_pfa&subdirectory=python-mip-sklearn/sklearn_to_pfa
